---
import CenteredContent from "./CenteredContent.astro"
---

<CenteredContent>
    <div class="flex items-center justify-between py-2.5 gap-4">
        <p class="font-bold text-red-900 text-xl md:text-3xl font-family-heading">3615 Retro</p>
        <div class="flex items-center gap-8">
            <a class="text-red-900 font-bold text-lg font-family-heading" href="/">Accueil</a>
            <a class="text-red-900 font-bold text-lg font-family-heading" href="/consoles">Consoles</a>
            <a class="text-red-900 font-bold text-lg font-family-heading" href="/blog">Blog</a>
        </div>
    </div>
</CenteredContent>